@import "tailwindcss";
@plugin "daisyui" {
  themes: retro --default;
}

.text-black * {
  color: #000000 !important;
}

body {
  background-color: #F1EEE3;
}

.header-color{
  background-color: #EFEADB;
}